body {
  overflow-x: hidden;
  background-color: #19161b;
  font-family: "Playfair Display", sans-serif;
}

.header {
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 768px) {
  .header {
    position: relative;
  }
}
@media (max-width: 768px) {
  .header .container {
    position: relative;
  }
}
.header .container .navbar-toggler {
  border: none;
}
.header .container .dropdown {
  display: none;
  position: relative;
}
.header .container .dropdown button {
  background: none;
}
.header .container .dropdown .dropdown-menu {
  height: 55vh;
  width: 95vw;
  position: absolute;
  right: -2px;
  z-index: 99999;
  background-color: #19161b;
}
.header .container .dropdown .dropdown-menu .dropdown-item {
  z-index: 999999;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .header .container .dropdown {
    display: block;
  }
}
.header .container .dropdown:hover .dropdown-menu {
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header .container .bi {
  color: white;
  font-size: 35px;
}
.header .navbar-brand {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffc492;
}
.header .navbar-brand:hover {
  color: white;
}
.header .sidenav {
  color: white;
  display: none;
}
@media (max-width: 768px) {
  .header .sidenav {
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    position: fixed;
    transition: 0.5s;
    transform: rotateX("angle");
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    padding-top: 60px;
  }
  .header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header .sidenav .head {
    justify-content: space-between;
    padding: 8px 8px 8px 32px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .header .sidenav .head .wrap button {
    font-size: 18px;
    border: none;
    background: none;
  }
  .header .sidenav i {
    font-size: 39px;
  }
  .header .sidenav .item {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 32px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-size: 18px;
    gap: 1rem;
  }
  .header .sidenav .active {
    color: #ff7757;
  }
  .header .sidenav a {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
  }
  .header .sidenav a:hover {
    color: #9d9999;
  }
}
.header .navbar-nav .true {
  background: #ff7757;
}
.header .navbar-nav .nav-item {
  height: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.header .navbar-nav .nav-item .nav-link {
  color: white;
}
.header .clone-btn {
  padding: 10px;
  background: none;
  border-color: #a0a4bd;
  font-weight: 500;
  color: #ffc492;
  border: none;
  align-items: center;
  display: flex;
  gap: 0.75rem;
}
.header .clone-btn .bi {
  font-size: 15px;
  color: white;
}
.header #mySidenav {
  display: none;
}

.main-container {
  margin-top: 5%;
}
@media (max-width: 768px) {
  .main-container {
    margin: 0;
  }
}
.main-container .header {
  display: flex;
  color: white;
  gap: 2rem;
  height: auto;
  font-family: "Playfair Display", sans-serif;
  z-index: 0;
}
.main-container .header h1 {
  font-size: 56px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-container .header h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main-container .header {
    display: block;
  }
}
.main-container .header .left {
  width: 50%;
}
@media (max-width: 768px) {
  .main-container .header .left {
    width: 80%;
    margin: 0 10%;
  }
}
.main-container .header .left .text {
  margin: 10% 0;
  z-index: 0;
}
.main-container .header .left .text h1 {
  font-family: "Playfair Display", sans-serif;
}
@media (max-width: 768px) {
  .main-container .header .left .text h1 {
    display: block;
    font-size: 2.5rem;
  }
  .main-container .header .left .text p {
    display: none;
  }
  .main-container .header .left .text button {
    display: none;
  }
  .main-container .header .left .text h4 {
    display: none;
  }
}
.main-container .header .left p {
  font-weight: 300;
  color: #9d9999;
}
.main-container .header .left button {
  border: none;
  background-color: #ffc492;
  margin: 5% 0;
  padding: 10px 20px;
  font-weight: 600;
}
.main-container .header .left button:hover {
  background: #27252d;
  color: white;
  transition: 0.5s;
}
.main-container .header .right {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-container .header .right {
    width: 100%;
    position: relative;
  }
  .main-container .header .right img {
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 32rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.main-container .header .right .overlay-hidden {
  display: none;
}
@media (max-width: 768px) {
  .main-container .header .right .overlay-hidden {
    top: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    height: 0;
    background-color: rgba(128, 128, 128, 0.5);
    transition: 0.5s ease;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-container .header .right .overlay-hidden .text {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .main-container .header .right:hover .overlay-hidden {
    height: 100%;
    bottom: 0;
  }
}
.main-container .header .hidden-content {
  display: none;
}
@media (max-width: 768px) {
  .main-container .header .hidden-content {
    display: block;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .main-container .header .hidden-content button {
    border: none;
    background-color: #ffc492;
    margin: 5% 0;
    padding: 10px 20px;
    font-weight: 600;
    color: black;
  }
  .main-container .header .hidden-content button:hover {
    background: #27252d;
    color: white;
    transition: 0.5s;
  }
}
.main-container .know-more {
  position: relative;
  color: white;
  margin-top: 5rem;
  display: flex;
  height: auto;
}
@media (max-width: 768px) {
  .main-container .know-more {
    width: 80%;
    margin: 0 10%;
    margin-top: 3rem;
    display: block;
  }
}
.main-container .know-more .left {
  width: 50%;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .main-container .know-more .left {
    width: 100%;
  }
}
.main-container .know-more .left .top {
  display: flex;
  align-items: center;
}
.main-container .know-more .left .top span {
  color: #ffc492;
}
.main-container .know-more .left .top .line {
  width: 3rem;
  height: 1px;
  margin-left: 1rem;
  background-color: #fff;
}
.main-container .know-more .left h1 {
  margin-top: 2rem;
}
.main-container .know-more .left p {
  color: #9d9999;
}
.main-container .know-more .left .mid {
  gap: 1rem;
  display: flex;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .main-container .know-more .left .mid {
    display: block;
  }
}
@media (max-width: 768px) {
  .main-container .know-more .left .mid .item {
    margin-top: 2rem;
  }
}
.main-container .know-more .left .mid .item h3 {
  color: #b0eff1;
}
.main-container .know-more .left .mid .item .bi {
  color: #ffc492;
}
.main-container .know-more .left .mid p {
  margin-top: 1rem;
  color: #9d9999;
}
@media (max-width: 768px) {
  .main-container .know-more .left .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-container .know-more .left .btn button {
  margin-top: 2rem;
  border: none;
  background-color: #ffc492;
  padding: 10px 20px;
  font-weight: 600;
  color: black;
}
.main-container .know-more .left .btn button:hover {
  background: #27252d;
  color: white;
  transition: 0.5s;
}
.main-container .know-more .right {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: end;
  gap: 2rem;
}
@media (max-width: 768px) {
  .main-container .know-more .right {
    width: 80%;
    margin: 0 10%;
    justify-content: center;
  }
}
.main-container .know-more .right img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .main-container .know-more .right img {
    width: 50%;
  }
}
.main-container .know-more .right .special {
  margin-top: 5rem;
}
.main-container .serving {
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .main-container .serving {
    width: 80%;
    margin: 0 10%;
    margin-top: 3rem;
    display: block;
  }
}
.main-container .serving .top {
  display: flex;
  align-items: center;
}
.main-container .serving .top span {
  color: #ffc492;
}
.main-container .serving .top .line {
  width: 3rem;
  height: 1px;
  margin-left: 1rem;
  background-color: #fff;
}
.main-container .serving .title {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  color: white;
}
@media (max-width: 768px) {
  .main-container .serving .title {
    display: block;
  }
}
.main-container .serving .title h2 {
  width: 50%;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .main-container .serving .title h2 {
    width: 100%;
  }
}
.main-container .serving .title p {
  width: 50%;
  color: #9d9999;
}
@media (max-width: 768px) {
  .main-container .serving .title p {
    width: 100%;
  }
}
.main-container .serving .service {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
@media (max-width: 768px) {
  .main-container .serving .service {
    display: block;
  }
}
.main-container .serving .service .card {
  color: white;
  width: 33%;
  height: 300px;
  background-color: #151217;
  padding: 30px;
}
@media (max-width: 768px) {
  .main-container .serving .service .card {
    width: 100%;
    height: 40%;
  }
}
.main-container .serving .service .card .circle {
  display: flex;
  align-items: center;
}
.main-container .serving .service .card .circle .bi {
  font-size: 25px;
  color: #ffc492;
  padding: 8px;
  border-radius: 50%;
  background-color: #261e1d;
}
.main-container .serving .service .card h1 {
  margin-top: 1rem;
  font-size: 2rem;
}
.main-container .serving .service .card p {
  font-weight: 300;
  color: #9d9999;
}
.main-container .our-menu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: 3rem;
  color: white;
}
@media (max-width: 768px) {
  .main-container .our-menu {
    width: 80%;
    margin: 0 10%;
    margin-top: 3rem;
  }
}
.main-container .our-menu .top {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.main-container .our-menu .top span {
  color: #ffc492;
}
.main-container .our-menu .top .line {
  width: 3rem;
  height: 1px;
  margin-left: 1rem;
  background-color: #fff;
}
.main-container .our-menu .title {
  display: flex;
  line-height: 1.6;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .main-container .our-menu .title {
    display: block;
  }
}
.main-container .our-menu .title .left {
  width: 50%;
}
@media (max-width: 768px) {
  .main-container .our-menu .title .left {
    width: 100%;
    margin-top: 1rem;
  }
}
.main-container .our-menu .title .left h1 {
  font-weight: 600;
  font-size: 2rem;
}
.main-container .our-menu .title .left span {
  color: #b0eff1;
}
.main-container .our-menu .title .right {
  width: 50%;
}
@media (max-width: 768px) {
  .main-container .our-menu .title .right {
    width: 100%;
    margin-top: 1rem;
  }
}
.main-container .our-menu .title .right p {
  color: #9d9999;
}
.main-container .our-menu .menu .row {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .main-container .our-menu .menu .row {
    margin-top: 0;
  }
}
.main-container .our-menu .menu .row img {
  width: 100%;
  max-height: 16rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-container .our-menu .menu .row .title {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: #34292d;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}
.main-container .our-menu .btn {
  width: 100%;
}
@media (max-width: 768px) {
  .main-container .our-menu .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-container .our-menu .btn button {
  margin-top: 1rem;
  border: none;
  background-color: #ffc492;
  padding: 10px 20px;
  font-weight: 600;
  color: black;
}
.main-container .our-menu .btn button:hover {
  transition: 0.5s;
  background: #27252d;
  color: white;
}

.quote {
  margin-top: 6rem;
  color: white;
  display: flex;
  background: #1f1d21;
  width: 100%;
}
@media (max-width: 768px) {
  .quote {
    display: block;
  }
}
.quote .left {
  width: 40%;
  padding: 2rem 2.5rem;
}
@media (max-width: 768px) {
  .quote .left {
    width: 100%;
  }
}
.quote .left h1 {
  font-weight: 700;
  font-size: 5rem;
}
.quote .left span {
  color: #9d9999;
  font-size: 1.5rem;
  font-weight: 500;
}
.quote .left .author {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.quote .left .author .avatar {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.quote .left .author .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.quote .left .author p {
  color: #9d9999;
  font-weight: 400;
}
.quote .left .line {
  border-top: solid 1px hsla(0, 0%, 100%, 0.24);
  height: 2px;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.quote .left .line .avatar-line {
  width: 3rem;
  height: 0.125rem;
  background-color: #fff;
}
.quote .right {
  overflow: hidden;
  width: 60%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .quote .right {
    width: 100%;
  }
}
.quote .right img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 32rem;
  transition: transform 0.5s;
  transform-origin: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.quote .right img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.quote .right .bi {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
  max-width: 100%;
  font-size: 3rem;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.blog {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
  margin-top: 3rem;
}
.blog h1 {
  max-width: 60%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  .blog h1 {
    font-size: 2rem;
  }
}
.blog .wrap-slide {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .blog .wrap-slide {
    display: block;
  }
}
.blog .wrap-slide .card {
  background: #151217;
}
@media (max-width: 768px) {
  .blog .wrap-slide .card {
    margin-top: 1rem;
  }
}
.blog .wrap-slide .card .card-body {
  padding: 1.25rem;
}
.blog .wrap-slide .card .card-body .day {
  font-size: 1rem;
  color: #9d9999;
}
.blog .wrap-slide .card .card-body .title {
  font-size: 2rem;
}
.blog .wrap-slide .card .card-body .title h3 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}
.blog .wrap-slide .card .card-body .desc p {
  color: #9d9999;
}
.blog .wrap-slide .card .image {
  width: 100%;
}
.blog .wrap-slide .card .image img {
  width: 100%;
  max-height: 16rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog .hidden-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #9d9999;
  margin: 5% 0;
  display: none;
}
@media (max-width: 768px) {
  .blog .hidden-content {
    display: none;
  }
}

.map {
  margin-top: 5rem;
  color: white;
  display: flex;
  width: 100%;
  background: #1f1d21;
}
@media (max-width: 768px) {
  .map {
    display: block;
  }
}
.map .left {
  width: 40%;
  padding: 4rem;
  line-height: 1.5;
  font-weight: 500;
}
@media (max-width: 768px) {
  .map .left {
    width: 100%;
    padding: 2rem;
  }
}
.map .left h3 {
  font-size: 1rem;
}
.map .left p {
  color: #9d9999;
}
.map .right {
  width: 100%;
}
@media (max-width: 768px) {
  .map .right {
    height: 300px;
  }
}

.footer {
  color: white;
  margin-top: 5rem;
}
.footer .top {
  font-family: Arial, sans-serif;
  width: 100%;
  text-align: center;
}
.footer .top h2 {
  font-weight: 700;
  color: #ffc492;
  cursor: pointer;
  font-size: 1.5rem;
}
.footer .menu {
  font-family: Arial, sans-serif;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer .menu {
    display: block;
  }
}
.footer .menu p {
  cursor: pointer;
  color: #9d9999;
  font-weight: 600;
}
.footer .menu p:hover {
  color: #ffc492;
}

.line {
  border-top: solid 1px #9d9999;
  height: 2px;
  width: 100%;
  margin-top: 1rem;
}

.bottom {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .bottom {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.bottom .title {
  width: 33%;
}
@media (max-width: 768px) {
  .bottom .title {
    width: 100%;
  }
}
.bottom span {
  color: #9d9999;
}
@media (max-width: 768px) {
  .bottom span {
    width: 100%;
  }
}
.bottom .icon {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  width: 33%;
  text-align: center;
  color: #9d9999;
}
@media (max-width: 768px) {
  .bottom .icon {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}
.bottom .icon .bottom-of-bottom {
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: end;
}
@media (max-width: 768px) {
  .bottom .icon .bottom-of-bottom {
    width: 100%;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */