body {
  overflow-x: hidden;
  background-color: #19161b;
  // font-family: Arial,sans-serif;
  font-family: "Playfair Display", sans-serif;
}

.header {
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  @media (max-width: 768px) {
    position: relative;
  }
  .container {
    @media (max-width: 768px) {
      position: relative;
    }
    .navbar-toggler {
      border: none;
    }
    .dropdown {
      display: none;
      position: relative;
      button {
        background: none;
      }
      .dropdown-menu {
        height: 55vh;
        width: 95vw;
        position: absolute;
        right: -2px;
        z-index: 99999;
        background-color: #19161b;

        .dropdown-item {
          z-index: 999999;
          color: white;
          font-weight: 600;
          margin-top: 1rem;
        }
      }
      @media (max-width: 768px) {
        display: block;
      }
    }
    .dropdown:hover .dropdown-menu {
      animation: fadeIn 0.5s ease forwards;
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .bi {
      color: white;
      font-size: 35px;
    }
  }
  .navbar-brand {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffc492;
  }
  .navbar-brand:hover {
    color: white;
  }

  .sidenav {
    color: white;
    display: none;

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      height: 100%;
      width: 100vw;
      position: fixed;
      transition: 0.5s;
      transform: rotateX("angle");
      z-index: 99;
      top: 0;
      left: 0;
      background-color: #f8f8f8;
      overflow-x: hidden;
      padding-top: 60px;
      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .head {
        justify-content: space-between;
        padding: 8px 8px 8px 32px;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid black;
        .wrap {
          button {
            font-size: 18px;
            border: none;
            background: none;
          }
        }
      }
      i {
        font-size: 39px;
      }

      .item {
        display: flex;
        align-items: center;
        padding: 8px 8px 8px 32px;
        color: black;
        font-size: 15px;
        font-weight: 500;
        font-size: 18px;
        gap: 1rem;
      }
      .active {
        color: #ff7757;
      }
      a {
        font-weight: 500;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: black;
        display: block;
      }
      a:hover {
        color: #9d9999;
      }
    }
  }
  .navbar-nav {
    .true {
      background: #ff7757;
    }
    .nav-item {
      height: 100%;
      padding: 10px;
      font-size: 15px;
      font-weight: 600;
      color: white;
      .nav-link {
        color: white;
      }
    }
  }

  .clone-btn {
    padding: 10px;
    background: none;
    border-color: #a0a4bd;
    font-weight: 500;
    color: #ffc492;
    border: none;
    align-items: center;
    display: flex;
    gap: 0.75rem;
    .bi {
      font-size: 15px;
      color: white;
    }
  }
  #mySidenav {
    display: none;
  }
}
.main-container {
  margin-top: 5%;
  @media (max-width: 768px) {
    margin: 0;
  }
  .header {
    display: flex;
    color: white;
    gap: 2rem;
    height: auto;
    font-family: "Playfair Display", sans-serif;
    z-index: 0;
    h1 {
      font-size: 56px;
      font-weight: 600;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    @media (max-width: 768px) {
      display: block;
    }
    .left {
      width: 50%;
      @media (max-width: 768px) {
        width: 80%;
        margin: 0 10%;
      }
      .text {
        margin: 10% 0;
        z-index: 0;
        h1 {
          font-family: "Playfair Display", sans-serif;
        }
        @media (max-width: 768px) {
          h1 {
            display: block;
            font-size: 2.5rem;
          }
          p {
            display: none;
          }
          button {
            display: none;
          }
          h4 {
            display: none;
          }
        }
      }

      p {
        font-weight: 300;
        color: #9d9999;
      }
      button {
        border: none;
        background-color: #ffc492;
        margin: 5% 0;
        padding: 10px 20px;
        font-weight: 600;
      }
    }
    .right {
      object-fit: cover;
      @media (max-width: 768px) {
        width: 100%;
        position: relative;
        img {
          opacity: 0.5;
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-height: 32rem;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .overlay-hidden {
        display: none;
        @media (max-width: 768px) {
          top: 0;
          display: block;
          position: absolute;
          overflow: hidden;
          height: 0;
          background-color: rgba(128, 128, 128, 0.5);
          transition: 0.5s ease;
          width: 100%;
        }
        .text {
          @media (max-width: 768px) {
            padding: 10px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .right:hover .overlay-hidden {
        height: 100%;
        bottom: 0;
      }
    }

    .hidden-content {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        button {
          border: none;
          background-color: #ffc492;
          margin: 5% 0;
          padding: 10px 20px;
          font-weight: 600;
          color: black;
        }
      }
    }
  }
  .know-more {
    position: relative;
    color: white;
    margin-top: 5rem;
    display: flex;
    height: auto;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 10%;
      margin-top: 3rem;
      display: block;
    }
    .left {
      width: 50%;
      line-height: 1.5rem;
      @media (max-width: 768px) {
        width: 100%;
      }
      .top {
        display: flex;
        align-items: center;
        span {
          color: #ffc492;
        }
        .line {
          width: 3rem;
          height: 1px;
          margin-left: 1rem;
          background-color: #fff;
        }
      }
      h1 {
        margin-top: 2rem;
      }
      p {
        color: #9d9999;
      }
      .mid {
        gap: 1rem;
        display: flex;
        margin-top: 1.5rem;
        @media (max-width: 768px) {
          display: block;
        }
        .item {
          @media (max-width: 768px) {
            margin-top: 2rem;
          }
          h3 {
            color: #b0eff1;
          }
          .bi {
            color: #ffc492;
          }
        }
        p {
          margin-top: 1rem;
          color: #9d9999;
        }
      }
      .btn {
        @media (max-width: 768px) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button {
          margin-top: 2rem;
          border: none;
          background-color: #ffc492;
          padding: 10px 20px;
          font-weight: 600;
          color: black;
        }
      }
    }
    .right {
      position: relative;
      display: flex;
      width: 50%;
      justify-content: end;
      gap: 2rem;

      @media (max-width: 768px) {
        width: 80%;
        margin: 0 10%;
        justify-content: center;
      }
      img {
        object-fit: contain;
        @media (max-width: 768px) {
          width: 50%;
        }
      }

      .special {
        margin-top: 5rem;
      }
    }
  }
  .serving {
    margin-top: 5rem;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 10%;
      margin-top: 3rem;
      display: block;
    }
    .top {
      display: flex;
      align-items: center;
      span {
        color: #ffc492;
      }
      .line {
        width: 3rem;
        height: 1px;
        margin-left: 1rem;
        background-color: #fff;
      }
    }
    .title {
      margin-top: 1.5rem;
      display: flex;
      gap: 1rem;
      color: white;
      @media (max-width: 768px) {
        display: block;
      }
      h2 {
        width: 50%;
        font-size: 2rem;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      p {
        width: 50%;
        color: #9d9999;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .service {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      @media (max-width: 768px) {
        display: block;
      }
      .card {
        color: white;
        width: 33%;
        height: 300px;
        background-color: #151217;
        padding: 30px;
        @media (max-width: 768px) {
          width: 100%;
          height: 40%;
        }
        .circle {
          display: flex;
          align-items: center;
          .bi {
            font-size: 25px;
            color: #ffc492;
            padding: 8px;
            border-radius: 50%;
            background-color: brown;
          }
        }

        h1 {
          margin-top: 1rem;
          font-size: 2rem;
        }
        p {
          font-weight: 300;
          color: #9d9999;
        }
      }
    }
  }
  .our-menu {
    margin-top: 3rem;
    color: white;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 10%;
      margin-top: 3rem;
    }
    .top {
      display: flex;
      align-items: center;
      span {
        color: #ffc492;
      }
      .line {
        width: 3rem;
        height: 1px;
        margin-left: 1rem;
        background-color: #fff;
      }
    }
    .title {
      display: flex;
      line-height: 1.6;
      margin-bottom: 1rem;
      @media (max-width: 768px) {
        display: block;
      }
      .left {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
          margin-top: 1rem;
        }
        h1 {
          font-weight: 600;
          font-size: 2rem;
        }
        span {
          color: #b0eff1;
        }
      }
      .right {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
          margin-top: 1rem;
        }
        p {
          color: #9d9999;
        }
      }
    }
    .menu {
      .row {
        margin-top: 1rem;
        @media (max-width: 768px) {
          margin-top: 0;
        }
        img {
          width: 100%;
          max-height: 16rem;
          -o-object-fit: cover;
          object-fit: cover;
        }
        .title {
          display: flex;
          justify-content: space-between;
          padding: 1.5rem;
          background: #34292d;
          font-size: 1.25rem;
          line-height: 1.5;
          font-weight: 500;
        }
      }
    }
    .btn {
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      width: 100%;
      button {
        margin-top: 1rem;
        border: none;
        background-color: #ffc492;
        padding: 10px 20px;
        font-weight: 600;
        color: black;
      }
    }
  }
}
.quote {
  margin-top: 3rem;
  color: white;
  display: flex;
  background: #1f1d21;
  width: 100%;
  @media (max-width: 768px) {
    display: block;
  }
  .left {
    width: 40%;
    padding: 2rem 2.5rem;
    @media (max-width: 768px) {
      width: 100%;
    }
    h1 {
      font-weight: 700;
      font-size: 5rem;
    }
    span {
      color: #9d9999;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .author {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      .avatar {
        overflow: hidden;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      p {
        color: #9d9999;
        font-weight: 400;
      }
    }
  }
  .right {
    overflow: hidden;
    width: 60%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      width: 100%;
    }
    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 32rem;
      transition: transform 0.5s;
      transform-origin: center center;
      object-fit: cover;
    }
    img:hover {
      transform: scale(1.1);
      overflow: hidden;
    }
    .bi {
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: inline-block;
      max-width: 100%;

      font-size: 3rem;
      background-color: white;
      color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
  }
}
.blog {
  color: white;
  margin-top: 3rem;
  h1 {
    width: 100%;
    max-width: 20rem;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
  }
  .wrap-slide {
    display: flex;
    gap: 1.5rem;
    @media (max-width: 768px) {
      display: block;
    }
    .card {
      background: #151217;
      @media (max-width: 768px) {
        margin-top: 1rem;
      }
      .card-body {
        padding: 1.25rem;
        .day {
          font-size: 1rem;
          color: #9d9999;
        }
        .title {
          font-size: 2rem;
          h3 {
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 500;
          }
        }
        .desc {
          p {
            color: #9d9999;
          }
        }
      }
      .image {
        width: 100%;
        img {
          width: 100%;
          max-height: 16rem;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }
  .hidden-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    color: #9d9999;
    margin: 5% 0;
    display: none;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.map {
  margin-top: 5rem;
  color: white;
  display: flex;
  width: 100%;
  background: #1f1d21;
  @media (max-width: 768px) {
    display: block;
  }
  .left {
    width: 40%;
    padding: 4rem;
    line-height: 1.5;
    font-weight: 500;
    @media (max-width: 768px) {
      width: 100%;
      padding: 2rem;
    }
    h3 {
      font-size: 1rem;
    }
    p {
      color: #9d9999;
    }
  }
  .right {
    width: 100%;
    @media (max-width: 768px) {
      height: 300px;
    }
  }
}
.footer {
  color: white;
  margin-top: 5rem;
  .top {
    font-family: Arial, sans-serif;
    width: 100%;
    text-align: center;
    h2 {
      font-weight: 700;
      color: #ffc492;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  .menu {
    font-family: Arial, sans-serif;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @media (max-width: 768px) {
      display: block;
    }
    p {
      cursor: pointer;
      color: #9d9999;
      font-weight: 600;
    }
    p:hover {
      color: #ffc492;
    }
  }
}
.line {
  border-top: solid 1px #9d9999;
  height: 2px;
  width: 100%;
  margin-top: 1rem;
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  @media (max-width: 768px) {
    display: block;
    width: 100%;
    text-align: center;
  }
  .title {
    width: 33%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  span {
    color: #9d9999;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .icon {

    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: 33%;
    text-align: center;
    color: #9d9999;
    @media (max-width: 768px) {
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }
    .bottom-of-bottom {
      font-weight: 700;
      display: flex;
      align-items: center;
      width: 33%;
      justify-content: end;
      @media (max-width:768px) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
